.Controls-Wrapper {
  display: flex;
  justify-content: space-between;
}

.Controls-Circle {
  border-right: 1px solid #80808070;
  padding-right: 6%;
}

@media(max-width: 680px) {
  .Controls-Wrapper {
    flex-direction: column
  }

  .Circle-Text {
    display: inline-block;
    margin: 1rem 0;
  }
}
